body{
  width:100%;
  max-width: 1024px;
  background-color: white;
  margin-left: 15%;
  margin-right: 15%;
}
.header{
  white-space: nowrap;

}
.header div{

  display: inline-block;

}
.l1{
  margin-top: 1px ;
  margin-bottom: 1px;
  padding-top: 1px;
  padding-bottom: 1px;
}
.l2{

}
.favicon{
  border: 0%;
  padding-left: 10px;

}

.content{
  width: 70%;
  position: absolute;;
  margin: auto;
  text-align: center;
}


.description{
  padding-left:15%;
  padding-right:15%;
  text-align: center;
  margin-top: 5px;
  padding-top: 10%;
  padding-bottom: 10%;
  border-top: 2px solid #F5F5F5;
  border-bottom: 2px solid #F5F5F5;
}
h5{
  margin-bottom: 2%;
  border-bottom: 2px solid #FF0000;
}
.galery1 {
   text-align: center;
   min-width: 140px;
   overflow: hidden;
}
.g1{
  float: left;
  max-width: 15%;
  overflow: hidden;
   padding: 5%;
}

.img{
  height: 150px;
}
#navbar ul { display: none; }
#navbar li:hover ul { display: block; }
#navbar, #navbar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#navbar li { float: left; }
#navbar ul li { float: none; }
#navbar ul {
  display: none;
  position: absolute;
  top: 100%;
}
#navbar li {
  float: left;
  position: relative;
}
#navbar { height: 30px; }
#navbar ul {
  display: none;
  background-color: #f90;
  position: absolute;
  top: 100%;
}
#navbar li:hover ul { display: block; }
#navbar, #navbar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#navbar {
  height: 30px;
  background-color: #666;
  padding-left: 25px;
  min-width: 470px;
}
#navbar li {
  float: left;
  position: relative;
  height: 100%;
}
#navbar li a {
  display: block;
  padding: 6px;
  width: 100px;
  color: #fff;
  text-decoration: none;
  text-align: center;
}
#navbar ul li { float: none; }
#navbar li:hover { background-color: #f90; }
#navbar ul li:hover { background-color: #666; }
