body{
  background-color: white;
  margin: 0;
}
@font-face {
font-family: HelveticaNeueCyr-Medium;
src: url(besprime_website/fonts/HelveticaNeueCyr-Medium.otf);
}
@font-face {
font-family: HelveticaNeueCyr-Bold;
src: url(besprime_website/fonts/HelveticaNeueCyr-Bold.otf);
}
@font-face {
font-family: HelveticaNeueCyr-Thin;
src: url(besprime_website/fonts/HelveticaNeueCyr-Thin.otf);
}
@font-face {
font-family: HelveticaNeueCyr-Light;
src: url(besprime_website/fonts/HelveticaNeueCyr-Light.otf);
}
@font-face {
font-family: HelveticaNeueCyr-Roman;
src: url(besprime_website/fonts/HelveticaNeueCyr-Roman.otf);
}
@media (max-width:2000px){
  .leftpart{
    top:0;
    float:left;
    margin-left: 20%;
    height:80px;
    width:100px;
  }
  .language{
    float: left;
    margin-bottom: 2px;
  }
  .language a{
    font-size: 6pt;
    top: 0;
    padding: 0;
    margin-top: 0;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
  }
  .language div{
    display: inline-block;
  }
  .l1{
    font-weight: bold;
    margin-right: 3px;
    font-family: HelveticaNeueCyr-Bold;
  }
  .l2{
    font-family: HelveticaNeueCyr;
  }
  .l2:hover{
    font-family: HelveticaNeueCyr-Bold;
  }
  .l2:active{
    font-family: HelveticaNeueCyr-Bold;
  }
  .logos {
    float: left;
  }
  .logos div{
    display:inline-block;
  }
  .logos img{
    height: 27px;
    width:27px;
  }
  .logo{
    float:left;
    margin-top: 15px;
    margin-left: 200px;
  }
  .logo div{
      display: inline-block;
  }
  .favicon{
    float: left;
    margin: 0;
    padding: 0;
  }
  .favicon img{
    height:50px;
    width:50px;
  }
  .title{
    margin-left: 8px;
    margin-top: 2px;
    width:200px;
  }
  .title_top{
    font-size: 20pt;
    float: left;
  }
  .title_bot{
    font-size: 10pt;
    float: left;
    color: red;
  }
  .contacts{
    margin-top: 15px;
    margin-right: 20%;
    float:right;
  }
  .top_contacts{
    font-family: HelveticaNeueCyr-Bold;
    margin-bottom: 5px;
  }
  .low_contacts{
    font-family: HelveticaNeueCyr-Bold;
  }
  #togglebox{
    display: none;
  }
  #navtoggler{
    display: none;
  }
  #expand-fullpagemenu{
    display: none;
  }
  .myMenu{
    height: 603px;
  }
  .menu_img img{
    float: left;
    width: 100%;
    position: relative;
  }
  /*Changes starts here*/

}
@media (max-width:1366px) {

  /*Header*/
  .leftpart{
    top:0;
    float:left;
    margin-left: 20%;
    height:80px;
    width:100px;
  }
  .language{
    float: left;
    margin-bottom: 2px;
  }
  .language a{
    font-size: 6pt;
    top: 0;
    padding: 0;
    margin-top: 0;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
  }
  .language div{
    display: inline-block;
  }
  .l1{
    font-weight: bold;
    margin-right: 3px;
    font-family: HelveticaNeueCyr-Bold;
  }
  .l2{
    font-family: HelveticaNeueCyr;
  }
  .l2:hover{
    font-family: HelveticaNeueCyr-Bold;
  }
  .l2:active{
    font-family: HelveticaNeueCyr-Bold;
  }
  .logos {
    float: left;
  }
  .logos div{
    display:inline-block;
  }
  .logos img{
    height: 27px;
    width:27px;
  }
  .logo{
    float:left;
    margin-top: 15px;
    margin-left: 200px;
  }
  .logo div{
      display: inline-block;
  }
  .favicon{
    float: left;
    margin: 0;
    padding: 0;
  }
  .favicon img{
    height:50px;
    width:50px;
  }
  .title{
    margin-left: 8px;
    margin-top: 2px;
    width:200px;
  }
  .title_top{
    font-size: 20pt;
    float: left;
  }
  .title_bot{
    font-size: 10pt;
    float: left;
    color: red;
  }
  .contacts{
    margin-top: 15px;
    margin-right: 20%;
    float:right;
  }
  .top_contacts{
    font-family: HelveticaNeueCyr-Bold;
    margin-bottom: 5px;
  }
  .low_contacts{
    font-family: HelveticaNeueCyr-Bold;
  }
  #togglebox{
    display: none;
  }
  #navtoggler{
    display: none;
  }
  #expand-fullpagemenu{
    display: none;
  }
  /*Menu*/
  .myMenu{
    height: 412px;
  }
  .menu_img img{
    float: left;
    width: 100%;
    position: relative;
  }
  .navbar{
    margin-left: 20%;
    margin-right: 20%;
    top:80px;
    position: absolute;
    width: 60%;
    display: table;
    background-color: none;
    border: none;
  }
  .menu{
      display: table-row;
      background-color: none;
  }
  .menu li{
    display: table-cell;
    position: relative;
    vertical-align: middle;
    background-color: none;
  }

  .menu li a{
  display: block;
    padding: 10px 5px;

    text-transform: uppercase;
    font-family: HelveticaNeueCyr-Medium;
    font-size: 10pt;
    text-decoration:none;
    color:#ffffff;
    text-align: center;
    text-transform: uppercase;
  }
  #first_li{
    padding-left: 0;
    margin-left: 0;
    float: left;
  }
  #last_li{
    background: #DCDCDC;
    color: #000000;
  }
  .menu li:hover{
    background: white;
  }
  .menu li a:hover{
    color:#000000;
  }
  .menu li a {
      text-decoration:none;
      color:#ffffff;
  }
  .menu ul {
      display: none;
      position: absolute;
      width: 100%;
      left: 0px;
      margin: 0;
      padding: 3px 0;
      background-color: rgba(0, 0, 0, 0.4);;
  }
  /* показываем меню второго уровня при наведении */
  .menu li:hover > ul{
      display: block;
  }
  .menu ul li {
      display:block;
      float: none;
      background:none;
      width: 100%;

      margin: 0;
      padding: 0;
  }
  .menu ul li a {
    margin: 0;
    padding: 0;
    float: left;
    font-size: 8pt;
    display:block;
    color:#797979;
  }
  .about{
    margin-left: 20%;
    top: 205px;
    float: left;
    position: absolute;
  }
  /*Выставить стили*/
  .about_header{
    font-size: 40pt;
    color:#FFFFFF;
  }
  .about_description{
    font-size: 16px;
    color:#FFFFFF;
  }
  /*Create barder*/
  #point{
   border: 1px solid #FFFFFF;
   background-color: #FFFFFF;
   padding: 14px 40px;
   font-size: 10px;
   font-family: HelveticaNeueCyr-Bold;
   text-decoration: none;
   vertical-align: middle;
  }
  .estimate{
    margin-left: 10%;
    margin-top: 40px;
    position: absolute;
  }

  .description{
    margin-top: 140px;
    margin-bottom: 50px;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    padding-top:60px;
    padding-bottom: 60px;
    border-top: 2px solid #F5F5F5;
    border-bottom: 2px solid #F5F5F5;
  }

  .create{
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 400px;
  }
  .subtitle {
    text-align: center;

    margin-bottom: 50px;
  }

  .subtitle a{
    border-bottom: 2px solid #FF0000;
    margin-top: 50px;
  }
  .block_g1_1{
    float: left;
    width: 23.5%;
    height:250px;
    overflow: hidden;
    margin-right: 2%;
    position: relative;
  }
  .block_g1_2{
    float: left;
    width: 23.5%;
    height:250px;
    overflow: hidden;
    position: relative;
  }
  .img{
    position: absolute;
    height: 250px;
  }
  .img img{
    width: 100%;
    height: 100%;
  }
  .img:after{
    content: '';
    background: #000;
    top:0;
    left: 0;
    opacity: 0.7;
    position: absolute;
    bottom: 0;
    width: 25%;
    height: auto;
  }
  .text1{
    position: absolute;
    bottom: 100px;
    transform: rotate(-90deg);
    left:5px;
  }
  .space{
    background: #F5F5F5;
    height: 50px;
    width: 100%;
    margin-bottom: 70px;
  }

  .offer{
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 290px;
  }

  .block_g2_1{
    float: left;
    width: 32%;
    height:190px;
    overflow: hidden;
    margin-right: 2%;
    background: linear-gradient(to top, #FFFFFF, #DCDCDC);
    position: relative;
  }
  .block_g2_2{
    float: left;
    width: 32%;
    height:190px;
    overflow: hidden;
    background: linear-gradient(to top, #FFFFFF, #DCDCDC);
    position: relative;
  }
  .pic{
    position: absolute;
  }
  .pic img{
    width: 100%;
    height: 100%;
  }
  .block_g2_1:after{
    content: ' ';
    background: #000;
    left: 0;
    opacity: 0.7;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
  }
  .block_g2_2:after{
    content: ' ';
    background: #000;
    left: 0;
    opacity: 0.7;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
  }
  .text2{
    font-size: 100%;
    font-weight: bold;
    color: white;
    position: absolute;
    bottom: 0;
    margin-left: 30%;
    margin-bottom: 5%;
  }
  .text2 a{
    text-align: center;
  }


  .block_g3_1{
    float: left;
    width: 33%;
    height:270px;
    overflow: hidden
    margin-right: 0.5%;
    background: linear-gradient(to top, #FFFFFF, #DCDCDC);
    position: relative;
  }
  .block_g3_2{
    float: left;
    width: 33%;
    height:270px;
    overflow: hidden;
    background: linear-gradient(to top, #FFFFFF, #DCDCDC);
    position: relative;
  }
  .block_g3_1 img{
    width: 100%;
    height: 100%;
  }
  .block_g3_2 img{
    width: 100%;
    height: 100%;
  }
  .button2{
    margin-top: 910px;
    padding: 2px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    text-align: center;
    margin-bottom: 85px;
  }
  #send{
    margin-top: 5%;
    border: none;
    background-color: #f50906;
    padding: 14px 40px;
    color: #FFFFFF;
    font-size: 10px;
    font-family: HelveticaNeueCyr-Bold;
    text-decoration: none;
    vertical-align: middle;
  }
  .space2{
    background: #F5F5F5;
    height: 50px;
    width: 100%;
  }
  .ourclients{
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .block4_1{
    width:auto;
    height: 100px;
  }
  .block4_1 img{
    width: 100%;
    height: 100%;
  }
  .form{
    padding-bottom: 2%;
    padding-top: 2%;
    margin-bottom: 5%;
    width: 20%;
    height: 30%;
    background-color: #F5F5F5;
  }
  .nadpis{
    padding-bottom: 5%;
  }
  #user{
    height: 30px;
    width: 80%;
    border: none;
    margin-bottom: 5%;
    color: #A9A9A9;
  }
  #email{
    height: 30px;
    width: 80%;
    border: none;
    margin-bottom: 5%;
    color: #A9A9A9;
  }
  #message{
    border: none;
    margin-bottom: 5%;
    resize:none;
    color: #A9A9A9;
  }
}
/*Tablet*/
@media (max-width:1200px) {
  .leftpart{
    display: none;
  }
  .logo{
    float:left;
    margin-top: 15px;
    margin-left: 10%;
  }
  .logo div{
      display: inline-block;
  }
  .favicon{
    float: left;
    margin: 0;
    padding: 0;
  }
  .favicon img{
    height:40px;
    width:40px;
  }
  .title{
    margin-left: 8px;
    margin-top: 2px;
    width:200px;
  }
  .title_top{
    font-size: 20pt;
    float: left;
  }
  .title_bot{
    font-size: 10pt;
    float: left;
    color: red;
  }
  .contacts{
    margin-top: 30px;
    width: 200px;
    float: left;
  }
  .contacts div{
    display: inline-block;
  }
  .top_contacts{
    font-family: HelveticaNeueCyr-Bold;
    font-size: 16pt;
    margin-right: 50px;
  }
  .low_contacts{
    font-family: HelveticaNeueCyr-Bold;
    font-size: 16pt;
  }
  /*menu*/

  .outer-menu {
            position: relative;
            margin-left: 60%;
             z-index: 1;
  }
  .outer-menu .checkbox-toggle {
             position: absolute;
             top: 0;
             left: 0;
             z-index: 2;
             cursor: pointer;
             width: 60px;
             height: 60px;
             opacity: 0;
  }
  .outer-menu .checkbox-toggle:checked + .hamburger > div {
             -webkit-transform: rotate(135deg);
             -ms-transform: rotate(135deg);
             transform: rotate(135deg);
  }
  .outer-menu .checkbox-toggle:checked + .hamburger > div:before,
  .outer-menu .checkbox-toggle:checked + .hamburger > div:after {
             top: 0;
             -webkit-transform: rotate(90deg);
             -ms-transform: rotate(90deg);
             transform: rotate(90deg);
  }
  .outer-menu .checkbox-toggle:checked + .hamburger > div:after {
             opacity: 0;
  }
  .outer-menu .checkbox-toggle:checked ~ .hamburger_menu {
             pointer-events: auto;
  }
  .outer-menu .checkbox-toggle:checked ~ .hamburger_menu > div {
             width: 200vw;
             height: 200vw;
  }
  .outer-menu .checkbox-toggle:checked ~ .hamburger_menu > div > div {
             opacity: 1;
             -webkit-transition: opacity 0.3s ease 0.3s;
             transition: opacity 0.3s ease 0.3s;
  }
  .outer-menu .checkbox-toggle:hover + .hamburger {
             box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .outer-menu .checkbox-toggle:checked:hover + .hamburger > div {
             -webkit-transform: rotate(225deg);
             -ms-transform: rotate(225deg);
             transform: rotate(225deg);
  }
  .outer-menu .hamburger {
             position: absolute;
             top: 0;
             left: 0;
             z-index: 1;
             width: 60px;
             height: 60px;
             padding: .5em 1em;
             background: rgba(33, 150, 243, 0.75);
             border-radius: 0 0.12em 0.12em 0;
             cursor: pointer;
             -webkit-transition: box-shadow 0.3s ease;
             transition: box-shadow 0.3s ease;
             -webkit-backface-visibility: hidden;
             backface-visibility: hidden;
             display: -webkit-box;
             display: -webkit-flex;
             display: -ms-flexbox;
             display: flex;
             -webkit-box-align: center;
             -webkit-align-items: center;
             -ms-flex-align: center;
             align-items: center;
             -webkit-box-pack: center;
             -webkit-justify-content: center;
             -ms-flex-pack: center;
             justify-content: center;
  }
  .outer-menu .hamburger > div {
             position: relative;
             -webkit-box-flex: 0;
             -webkit-flex: none;
             -ms-flex: none;
             flex: none;
             width: 100%;
             height: 2px;
             background: #fefefe;
             -webkit-transition: all 0.3s ease;
             transition: all 0.3s ease;
             display: -webkit-box;
             display: -webkit-flex;
             display: -ms-flexbox;
             display: flex;
             -webkit-box-align: center;
             -webkit-align-items: center;
             -ms-flex-align: center;
             align-items: center;
             -webkit-box-pack: center;
             -webkit-justify-content: center;
             -ms-flex-pack: center;
             justify-content: center;
  }
  .outer-menu .hamburger > div:before,
  .outer-menu .hamburger > div:after {
             content: '';
             position: absolute;
             z-index: 1;
             top: -10px;
             left: 0;
             width: 100%;
             height: 2px;
             background: inherit;
             -webkit-transition: all 0.3s ease;
             transition: all 0.3s ease;
  }
  .outer-menu .hamburger > div:after {
             top: 10px;
  }
  .outer-menu .hamburger_menu {
             position: fixed;
             top: 0;
             left: 0;
             width: 100%;
             height: 100%;
             pointer-events: none;
             display: -webkit-box;
             display: -webkit-flex;
             display: -ms-flexbox;
             display: flex;
             -webkit-box-align: center;
             -webkit-align-items: center;
             -ms-flex-align: center;
             align-items: center;
             -webkit-box-pack: center;
             -webkit-justify-content: center;
             -ms-flex-pack: center;
             justify-content: center;
  }
  .outer-menu .hamburger_menu > div {
             width: 0;
             height: 0;
             color: #fefefe;
             background: rgba(41, 98, 255, 0.97);
             border-radius: 50%;
             -webkit-transition: all 0.3s ease;
             transition: all 0.3s ease;
             -webkit-box-flex: 0;
             -webkit-flex: none;
             -ms-flex: none;
             flex: none;
             display: -webkit-box;
             display: -webkit-flex;
             display: -ms-flexbox;
             display: flex;
             -webkit-box-align: center;
             -webkit-align-items: center;
             -ms-flex-align: center;
             align-items: center;
             -webkit-box-pack: center;
             -webkit-justify-content: center;
             -ms-flex-pack: center;
             justify-content: center;
  }
  .outer-menu .hamburger_menu > div > div {
             text-align: center;
             max-width: 90vw;
             max-height: 100vh;
             opacity: 0;
             -webkit-transition: opacity 0.3s ease;
             transition: opacity 0.3s ease;
             overflow-y: auto;
             -webkit-box-flex: 0;
             -webkit-flex: none;
             -ms-flex: none;
             flex: none;
             display: -webkit-box;
             display: -webkit-flex;
             display: -ms-flexbox;
             display: flex;
             -webkit-box-align: center;
             -webkit-align-items: center;
             -ms-flex-align: center;
             align-items: center;
             -webkit-box-pack: center;
             -webkit-justify-content: center;
             -ms-flex-pack: center;
             justify-content: center;
  }
  .outer-menu .hamburger_menu > div > div > ul {
             list-style: none;
             padding: 0 1em;
             margin: 0;
             display: block;
             max-height: 100vh;
  }
  .outer-menu .hamburger_menu > div > div > ul > li {
             padding: 0;
             margin: 1em;
             font-size: 24px;
             display: block;
  }
  .outer-menu .hamburger_menu > div > div > ul > li > a {
             position: relative;
             display: inline;
             cursor: pointer;
             -webkit-transition: color 0.3s ease;
             transition: color 0.3s ease;
  }
  .outer-menu .hamburger_menu > div > div > ul > li > a:hover {
             color: #e5e5e5;
  }
  .outer-menu .hamburger_menu > div > div > ul > li > a:hover:after {
             width: 100%;
  }
  .outer-menu .hamburger_menu > div > div > ul > li > a:after {
             content: '';
             position: absolute;
             z-index: 1;
             bottom: -0.15em;
             left: 0;
             width: 0;
             height: 2px;
             background: #e5e5e5;
             -webkit-transition: width 0.3s ease;
             transition: width 0.3s ease;
  }

  /*menu_end*/
  .navbar{
    display: none;
  }
}
/*Smartphone*/
@media (max-width: 760px) {
  .leftpart{
    display: none;
  }
  .logo{
    top:0;
    left:0;
    position: absolute;
    margin: 0;
    padding: 0;
  }
  .logo div{
      display: inline-block;
  }
  .favicon{
    float: left;
    margin: 0;
    padding: 0;
  }
  .favicon img{
    height:40px;
    width:40px;
  }
  .title{
    margin-left: 8px;
    margin-top: 2px;

  }
  .title_top{
    font-size: 20pt;
    float: left;
  }
  .title_bot{
    font-size: 10pt;
    float: left;
    color: red;
  }
  .contacts{
    top:100px;
    position: absolute;
    float: left;
  }
  .contacts div{
    display: inline-block;
  }
  .top_contacts{
    font-family: HelveticaNeueCyr-Bold;
    font-size: 16pt;
    margin-right: 50px;
  }
  .low_contacts{
    font-family: HelveticaNeueCyr-Bold;
    font-size: 16pt;
  }
  /*menu*/

  .menuwrapper{
    height: 40px;
    width:40px;
    background: red;
    float: right;
  }
  input[type="checkbox"]#togglebox {
    /* checkbox used to toggle menu state */

    top:0;
    float: right;
    visibility: hidden;
  }

  label#navtoggler{  /* Main label icon to toggle menu state */
    z-index: 9;
    display: block;
    position: relative;
    font-size: 8px;
    /* change font size to change label dimensions. Leave width/height below alone */
    width: 4em;
    height: 2.5em;
    top: 0;
    left: 0;
    text-indent: -1000px;
    border: 0.6em solid black;
    /* border color */
    border-width: 0.6em 0;
    cursor: pointer;
    background: white;
  }


  label#navtoggler::before{
    /* inner strip inside label */
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 0.6em;
    top: 50%;
    margin-top: -0.3em;
    left: 0;
    background: black; /* stripes background color. Change to match border color of parent label above */
  }

  nav#expand-fullpagemenu{ /* Full screen nav menu */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    visibility: hidden;
    -webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
    -webkit-transform: scale(0.9);  /* initially scale down nav size */
    transform: scale(0.9);
    background: #AAEDEA;
    display: block;
    position: fixed;
  	z-index: 100;
    opacity: 0;
  	text-align: center;
  	overflow: auto;
    -moz-transition: visibility 0s 0.5s, opacity 0.5s, -moz-transform 0.5s; /* transition settings */
    -webkit-transition: visibility 0s 0.5s, opacity 0.5s, -webkit-transform 0.5s;
    transition: visibility 0s 0.5s, opacity 0.5s, transform 0.5s;
  }

  input[type="checkbox"]#togglebox:checked ~ nav#expand-fullpagemenu{ /* nav state when corresponding checkbox is checked */
  	visibility: visible;
  	-webkit-transform: scale(1);
  	transform: scale(1);
  	opacity: 1;
    -ms-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -webkit-transition-delay: 0s;
    -transition-delay: 0s;
  }

  nav#expand-fullpagemenu label#closex{ /* Large x close button inside nav */
    width: 80px;
    height: 80px;
  	overflow: hidden;
    display: block;
    position: absolute;
    cursor: pointer;
  	text-indent: -1000px;
    z-index: 10;
    top: 0;
    right: 0;
  }

  nav#expand-fullpagemenu label#closex::before, nav label#closex::after{ /* render large cross inside close button */
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 6px;
    background: black;
    top: 50%;
    margin-top: -3px;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  nav#expand-fullpagemenu label#closex::after{ /* render large cross inside close button */
    -ms-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }

  nav#expand-fullpagemenu a{
  	text-decoration: none;
    color: black;
    text-transform: uppercase;
  }

  nav#expand-fullpagemenu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    max-height: 100%;
    top: 50%; /* center UL vertically inside nav */
    -webkit-transform: translateY(-50%); /* center UL vertically inside nav */
    transform: translateY(-50%);
    font: bold 2em 'Bitter', sans-serif; /* use google font inside nav UL */
  }

  nav#expand-fullpagemenu ul li{
    margin-bottom: 25px;
  }

  nav#expand-fullpagemenu ul li a{
    padding: 10px;
    border-radius: 20px;
  }

  nav#expand-fullpagemenu ul li a:hover{
    background: lightblue;
  }
  .menu{
    display:none;
  }
}/*end media queries*/
