body{
  width:100%;
  max-width: 1024px;
  background-color: white;
  margin-left: 15%;
  margin-right: 15%;
}
.header{
  white-space: nowrap;

}
.header div{

  display: inline-block;

}
.l1{
  margin-top: 1px ;
  margin-bottom: 1px;
  padding-top: 1px;
  padding-bottom: 1px;
}
.l2{

}
.favicon{
  border: 0%;
  padding-left: 10px;

}

.content{
  width: 70%;
  position: absolute;;
  margin: auto;
  text-align: center;
}


.description{
  padding-left:15%;
  padding-right:15%;
  text-align: center;
  margin-top: 5px;
  padding-top: 10%;
  padding-bottom: 10%;
  border-top: 2px solid #F5F5F5;
  border-bottom: 2px solid #F5F5F5;
}
h5{
  margin-bottom: 2%;
  border-bottom: 2px solid #FF0000;
}
.galery1 {
   text-align: center;
   min-width: 140px;
   overflow: hidden;
}
.g1{
  float: left;
  max-width: 15%;
  overflow: hidden;
   padding: 5%;
}

.img{
  height: 150px;
}
