body{
  background-color: white;
}
.header{
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
  margin-bottom: 1%;
}
.header div{
  display: inline-block;
}
.language{
  float:left;
}
.contacts{
  float: right;
}
.menu img{
  float: left;
  width: 100%;
  position: relative;
}
.hand img{
  position: absolute;
  float: right;
}
.navbar{
  margin-right: 15%;
  margin-left: 13%;
}
#navbar{
  position: absolute;
}/*размещение меню на фоне*/
#navbar ul {
  display: none;
} /*скрыть выпадающий список*/
#navbar li:hover ul {
  display: block;
}/*отображение выпадающего списка*/
#navbar, #navbar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}/*убрали маркеры и отступы стандартные*/
#navbar li {
  float: left;
}/*сформировали меню горизонтально*/
#navbar ul li {
  float: left;
}/*выпадающее меню делаем вертикальным*/
#navbar li {
  float: left;
  position: relative;
  height: 100%;
}/*выпадающее меню не смещает нижний контент */
#navbar {
  background-color: none;
  min-width: 470px;
}/*вид менюхи*/
#navbar ul {
  display: none;
  background-color: none;
  position: absolute;
  top: 100%;
}/*вид подменю*/
#navbar li a {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 23.5px;
  color: #fff;
  text-decoration: none;
  text-align: center;
}/*размеры и отступы между блоками меню*/
#navbar li:hover {
  background-color: #D3D3D3;
}/*цвет меню при наведении*/
#navbar li a:hover {
  color:#000000;
}/*цвет текста меню при наведении*/
#navbar ul li:hover {
  background-color: #666;
  text-decoration:underline;
}/*цвет при наведении на подменю*/
.slogan{
  font-size: 40px;
  color:#FFFFFF;
}
.opis{
  font-size: 16px;
  color:#FFFFFF;
}
.button{
float: left;
}
#point{
  margin-top: 5%;
  border: 1px solid #FFFFFF;
  background-color: #FFFFFF;
  padding: 14px 40px;
  font-size: 10px;
  font-family: HelveticaNeueCyr-Bold;
  text-decoration: none;
  vertical-align: middle;
}
.about{
  margin-top: 10%;
  margin-left: 15%;
  margin-right: 15%;
  float: left;
  position: absolute;
}

.estimate{
  margin-left: 10%;
  position: absolute;
}
.description{
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 10%;
  padding-top: 10%;
  padding-bottom: 10%;
  border-top: 2px solid #F5F5F5;
  border-bottom: 2px solid #F5F5F5;
  text-align: center;
}
.create{
  margin-left: 15%;
  margin-right: 15%;
}
.tabulation{
  margin-top: 5%;
  text-align: center;
  margin-bottom: 5%;
}
.tabulation a{
  border-bottom: 2px solid #FF0000;
}
.block_g1_1{
  float: left;
  width: 22%;
  height:190px;
  overflow: hidden;
  margin-right: 4%;
  background: linear-gradient(to top, #FFFFFF, #DCDCDC);
  position: relative;
}
.block_g1_2{
  float: left;
  width: 22%;
  height:190px;
  overflow: hidden;
  background: linear-gradient(to top, #FFFFFF, #DCDCDC);
  position: relative;
}
.img{
  position: absolute;
}
.img img{
  width: 100%;
  height: 100%;
}
.img:after{
  content: ' ';
  background: #000;
  left: 0;
  opacity: 0.7;
  position: absolute;
  bottom: 0;
  width: 20%;
  height: 100%;
}
.text1{
  font-size: 100%;
  font-weight: bold;
  color: white;
  position: absolute;
  bottom: 0;
}
.hidden{
  visibility: hidden;
}
.offer{
  margin-left: 15%;
  margin-right: 15%;
}

.block_g2_1{
  float: left;
  width: 29%;
  height:190px;
  overflow: hidden;
  margin-right: 6.5%;
  background: linear-gradient(to top, #FFFFFF, #DCDCDC);
  position: relative;
}
.block_g2_2{
  float: left;
  width: 29%;
  height:190px;
  overflow: hidden;
  background: linear-gradient(to top, #FFFFFF, #DCDCDC);
  position: relative;
}
.pic{
  position: absolute;
}
.pic img{
  width: 100%;
  height: 100%;
}
.pic:after{
  content: ' ';
  background: #000;
  left: 0;
  opacity: 0.7;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20%;
}
.text{
  font-size: 100%;
  font-weight: bold;
  color: white;
  position: absolute;
  bottom: 0;
}
.do{
  margin-left: 15%;
  margin-right: 15%;
}
.block_g3_1{
  float: left;
  width: 33%;
  height:150px;
  overflow: hidden;
  margin-right: 0.5%;
  background: linear-gradient(to top, #FFFFFF, #DCDCDC);
  position: relative;
}
.block_g3_2{
  float: left;
  width: 33%;
  height:150px;
  overflow: hidden;
  background: linear-gradient(to top, #FFFFFF, #DCDCDC);
  position: relative;
}
.button2{
  text-align: center;
}
.footer{
  width: 100%;
}
.top{
  left: 0;
  bottom: 0;
  height: 30px;
  background-color: darkgrey;
  border-top: 2px solid red;
  border-left: 2px solid red;
  border-right: 2px solid red;
}
.low{
  width:100%;
  background-color: black;
  height: 30px;
}
.form{
  padding-bottom: 2%;
  padding-top: 2%;
  margin-bottom: 5%;
  width: 20%;
  height: 30%;
  background-color: #F5F5F5;
}
.nadpis{
  padding-bottom: 5%;
}
#user{
  height: 30px;
  width: 80%;
  border: none;
  margin-bottom: 5%;
  color: #A9A9A9;
}
#email{
  height: 30px;
  width: 80%;
  border: none;
  margin-bottom: 5%;
  color: #A9A9A9;
}
#message{
  border: none;
  margin-bottom: 5%;
  resize:none;
  color: #A9A9A9;
}

#send{
  margin-top: 5%;
  border: none;
background-color: #FF0000;
padding: 14px 40px;
 color: #FFFFFF;
 font-size: 10px;
 font-family: HelveticaNeueCyr-Bold;
 text-decoration: none;
 vertical-align: middle;
}
